<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Zen GM API</title>

    <!-- STYLESHEETS -->
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>

  </head>
  <body>

  <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>Baseball Players</h1>
          <h4><a href="/api">Read My API Documentation</a></h4>
        </div>
      </div>
    </div>

    <!--Create New Player form starts below-->
  <form id="createNewPlayer" name="createNewPlayer" action="http://api/players:id" method="POST" onsubmit="return (validate());"> <!--Enter action for form-->
    <fieldset>
    <legend>Create New Player</legend>
    <label>Player Name:</label>
        <input type="text" name="name"><br>
    <label>Years Played:</label>
        <input type="number" name="yearsPlayed" min="0" max="35"><br>
    <label>Team:</label>
        <select name="team" id="team">
            <option value="1">Atlanta Gold Club</option>
            <option value="2">Baltamore Crabs</option>
            <option value="3">Boston Massacre</option>
            <option value="4">Chicago Whirlwinds</option>
            <option value="5">Cincinnati Riots</option>
            <option value="6">Cleveland Curses</option>
            <option value="7">Dallas Snipers</option>
            <option value="8">Denver High</option>
            <option value="9">Detroit Muscle</option>
            <option value="10">Houston Apollos</option>
            <option value="11">Las Vegas Blue Chips</option>
            <option value="12">Los Angeles Earthquakes</option>
            <option value="13">Mexico City Aztecs</option>
            <option value="14">Miami Cyclones</option>
            <option value="15">Minneapolis Blizzards</option>
            <option value="16">Montreal Mounties</option>
            <option value="17">New York Bankers</option>
            <option value="18">Philadelphia Cheesesteaks</option>
            <option value="19">Phoenix Vultures</option>
            <option value="20">Pittsburgh Rivers</option>
            <option value="21">Portland Roses</option>
            <option value="22">Sacramento Gold Rush</option>
            <option value="23">San Diego Pandas</option>
            <option value="24">San Francisco Venture Capitalists</option>
            <option value="25">Seattle Symphony</option>
            <option value="26">St. Louis Spirits</option>
            <option value="27">Tampa Turtles</option>
            <option value="28">Toronto Beavers</option>
            <option value="29">Vancouver Whalers</option>
            <option value="30">Washington Monuments</option>
        </select>
    <br>
    <label>Image URL:</label>
        <input type="url" name="imageURL"><br>
    <label>Position:</label>
         <select name="position" id="position">
            <option value="1">P</option>
            <option value="2">C</option>
            <option value="3">1B</option>
            <option value="4">2B</option>
            <option value="5">3B</option>
            <option value="6">SS</option>
            <option value="7">LF</option>
            <option value="8">CF</option>
            <option value="9">RF</option>
         </select>
    <br>
    <label> World Series Wins:</label>
        <input type="number" name="worldSeriesWins" min="0" max="20"><br>
    <label>MVP:</label>
        <input type="number" name="mvp" min="0" max="10"><br>
    <label>Statistics:</label>
        <input type="url" name="stats"><br>

    <button onclick="validate()" type="submit" value="Submit">Submit</button>
    </fieldset>
    </form>
<div id="playerTarget">
</div>

  </body>
</html>
